<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>首页</title>
<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
</head>
<body>
<div id="title">
I am freemarker index.html
</div>

<div>
<ul>
	<li><a href="simple-handlebars" target="_blank">simple-handlebars</a></li>
</ul>

</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/handlebars/handlebars.min.js"></script>
<script>
$(function(){
	$("#title").html("jquery已经生效");
});
</script>
</body>
</html>